[submodule "rWasm"]
	path = rWasm
	url = https://github.com/secure-foundations/rWasm
[submodule "vWasm"]
	path = vWasm
	url = https://github.com/secure-foundations/vWasm
[submodule "wasm-semantics-fuzzer"]
	path = wasm-semantics-fuzzer
	url = https://github.com/secure-foundations/wasm-semantics-fuzzer
